{% extends 'base.html.twig' %}

{% block title %}New Qualification{% endblock %}

{% block body %}
    {% if not is_granted('ROLE_ELECTRICIAN') or not is_granted('ROLE_MANAGER') %}

    <p>You are not allowed to access this page. Sorry!</p>

    {% else %}
    <h1>Create new Qualification</h1>

    {{ include('qualification/_form.html.twig') }}

    <a href="{{ path('app_qualification_index') }}">back to list</a>
    {% endif %}
{% endblock %}
