{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}


    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
        {% else %}
        <p>You do not have access to this page. Sorry!</p>
    {% endif %}
{% endblock %}
