{% extends 'base.html.twig' %}


{% block title %}Electrician Page{% endblock %}

{% block body %}

    <h1>Welcome to our electricians page</h1>
    <p>
        Feel free to browse our highly qualified staff
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>Electrician Name</th>
            <th>Qualification</th>
            <th>Qualification Expiry Date</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        {% if user.role == 'ROLE_ELECTRICIAN' %}
            <col>
            <td>{{ user.username }}</td>
                {% for qualification in user.qualification %}

                    <td>{{ qualification.QualificationName }}</td>
                    <td>{{ qualification.ExpiryDate }}</td>
                    <tr> </tr>
                    <td></td>
                {% endfor %}
            </tr>
         {%endif%}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>




{% endblock %}
