{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}

    <h1>Welcome to Egino.Co</h1>
    <p>
       World renowned electrician services
    </p>

{% endblock %}
