{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}

    <h1>Welcome to the job listing page</h1>
    <p>
        Here you can create jobs which our electricians will then quote
    </p>

{% endblock %}
