{% extends 'base.html.twig' %}

{% set userArray = [] %}

{% for user in users %}
    {% if user.role == 'ROLE_USER' %}
        {% set userArray = userArray|merge([user.id]) %}
    {% endif %}
{% endfor %}

{% block title %}Manager Page{% endblock %}

{% block body %}


    <h1>Welcome to the manager page</h1>
    <p>
       from here you can ban any user by clicking this big red button!
    </p>

    <a href="{{ path('user_delete', {'id': random(userArray)})}} "><img src="{{asset('uploads/redbutton.jpeg')}}"></a>

{% endblock %}
