{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}




    <h1>Welcome to the portfolio page</h1>
    <p>
       Here you can view our amazing electricians work!
    </p>


    {% for job in jobs %}
        <div>
            <img src="{{asset(job.fileName)}}">
            <H1>{{ job.location }}</H1>
            <p>This job was completed by {{ job.electrician }}</p>
        </div>
    {% endfor %}

        {% else %}
            <p>You dont have access to this page. Sorry!</p>
{% endif %}
{% endblock %}


