{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}

    <h1>Welcome to the portfolio page</h1>
    <p>
       Here you can view our amazing electricians work!
    </p>





{% endblock %}


